.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #060b26;
}

.explication{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
}

.slogan{
    display: flex;
    width: 100%;
    justify-content: center;
    letter-spacing: 1rem;
}

.homeContainer {
    margin-top: 10rem;
    display: flex;
}

.explication h1{
    font-size: 15rem;
}

.explication i{
    display: flex;
    align-items: flex-end;
    height: 84%;
}

.homeContainer h3{
    margin: 1rem;
}

.homeContainer h3:first-child{
    background-color:white;
    color: #060b26;
}

.homeContainer h3:last-child{
    border: solid white 2px;
    color: white;
}

.homeContainer h3{
    padding: 1rem;
    border-radius: 15px;
}

h3:hover{
    transform: translateY(-0.5rem);
}

.formHome{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.formHome form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
    background-color: #060b26;
}

.inputForm input{
    padding: 1rem;
    border: none;
    border: solid #060b26 1px; 
    color: #060b26;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

.inputForm label{
    color: white;
}

.inputForm label,.inputForm input{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.buttonForm{
    text-align: center;
    flex: 1 1 auto;
}

.buttonForm button{
    width: 100%;
    background-color: #060b26;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border: solid white 2px;
    border-radius: 5px;
    margin-top: 1rem;
}


