.section{
    display: flex;
    justify-content: center;
}

.section-user{
    width:80%;
    margin-top: 5rem;
    border: solid black;
    border-radius: 5px;
    background-color :#060b26 ;
}

.data-user{
    display: flex;

    .icon{
        font-size: 10rem;
        justify-content: center;
        width: 100%;
        display: flex;
        color: white;
        padding: 1rem;

        i{
            display: flex;
        }
    }
}

.description-user{
    display: flex;
    justify-content: center;
    padding: 1rem;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        list-style-type: none;
        color: white;

        li:hover{
            border-bottom: solid white;
            transition: linear ease-in-out  1s;
        }
    }

}

.cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    .cart-items{
        color: white;
        display: flex;
        justify-content: center;
    }
    
    i{
        font-size: 5rem;
        color: white;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

}

.cart-sugerence{
    display: flex;
    flex-direction: column;
    

    p{
        text-align: center;
        color: white;
    }

    .sugerence-data{
        display: flex;
        justify-content: center;
        background-color: #060b26;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            list-style: none;
            padding: 1rem;

            li{
                padding: 1rem;
                border: solid black;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                background-color: white;
                
                p{
                    color: black;
                }

                button{
                    width: 50%;
                    height: 2rem;
                    border-radius: 5px;
                    margin: 1rem;
                }

                .deleteCart{
                    background-color: red;
                    border: none;
                }

                .addCart{
                    background-color: white;
                    color: black;
                    border: solid;
                    border-radius: 5px;
                }

                .inCart{
                    background-color: green;
                    color: white;
                    border: none;
                    border-radius: 5px;
                }
            }
        }

    }
}