.support{
    width: 100%;
    background-color: #060b26;
}

.metaContainer{
    display: flex;
    flex-direction: column;
    border: solid green;
    height: 100%;
    align-items: center;
}

.supportContainer{
    border: solid red;
  
}

.supportItems ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.supportContainer li{
    
    border: solid white 3px;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    background-color: #060b26;
    height: 24rem;
    width: 17rem;
    list-style: none;
}

.supportContainer li:hover{
    transform: translateY(-3rem);
}

.supportContainer p{
    font-size: 2rem;
    margin-top: 3rem;
}

.supportContainer h1{
    color: white;
    font-size: 9rem;
}

.supportIcon{
    font-size: 8rem;

}

.supportDetails{
    width: 100%;
}

.detailsContainer{
    border: solid #060b26 3px;
    border-radius: 5px;
    margin: 3.5rem;
}

.detailsIcon, .detailsContainer h1{
    padding: 3rem;
    display: inline-block;
    border: solid black 1px;
}

.detailsIcon{
    background-color: #060b26;
    text-align: center;
}

.detailsIcon .supportIcon, .detailsIcon p {
    color: white;
    text-align: center;
}

.detailsIcon p {
    font-size: 2rem;
}
