.teamContainer{
    width: 100%;
    border: solid black 1px;
}

.teamIconsContainer{
    color: rgb(4, 4, 75);
    padding: 1rem;
}

#twitter:hover, #facebook:hover{
    color: blue;
}

#instagram:hover{
    color: brown;
}

#youtube:hover, #pinterest:hover{
    color: red;
}

