@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.home, .reports, .products, .team, .messages, .support, .profile {
  display: flex;
  height: 90vh;
  font-size: 3rem; }

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center; }

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none; }

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms; }

.nav-menu.active {
  left: 0;
  transition: 350ms; }

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style-type: none;
  height: 60px; }

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px; }

.nav-text a:hover {
  background-color: #1a83ff; }

.nav-menu-items {
  width: 100%; }

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center; }

span {
  margin-left: 16px; }

.support {
  width: 100%;
  background-color: #060b26;
  display: flex;
  flex-direction: column; }

.supportContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.supportItems {
  width: 100%;
  height: 50%; }

.supportItems ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%; }

.supportItems ul i {
  font-size: 6rem; }

.supportContainer li {
  border: solid white 3px;
  padding: 1rem;
  border-radius: 15px;
  color: white;
  background-color: #060b26;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: inherit;
  list-style: none; }

.supportContainer li:hover {
  transform: translateY(-3rem); }

.supportContainer p {
  font-size: 2rem; }

.supportContainer h1 {
  color: white;
  font-size: 9rem; }

.supportDescription {
  background-color: #060b26;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.descriptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 80%;
  justify-content: center;
  border: solid white;
  border-radius: 15px; }

.supportHelp, .containerIcon {
  height: 100%; }

.containerIcon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%; }

.containerIcon i {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 8rem; }

.supportHelp {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  border-left: solid white; }

.supportHelp h2, .supportHelp p {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem; }

.supportHelp ul {
  display: flex;
  flex-direction: row;
  flex: 1; }

.supportHelp li {
  display: flex;
  flex: 1; }

.supportHelp li:hover {
  transform: none; }

.titleAndClose {
  display: flex;
  flex-direction: row; }

.titleAndClose i {
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 1.5rem; }

.titleAndClose h2 {
  width: 100%; }

@media (max-width: 1630px) {
  .supportItems {
    height: auto; }
    .supportItems i {
      padding: 5rem; }
    .supportItems p {
      display: none; }
  .descriptionContainer {
    height: auto; } }

@media (max-width: 1050px) {
  .supportContainer {
    height: auto; }
    .supportContainer h1 {
      font-size: 5rem; }
    .supportContainer ul {
      flex-direction: column; }
      .supportContainer ul li:hover {
        transform: none; }
      .supportContainer ul li {
        width: 100%; }
        .supportContainer ul li i {
          padding: 1rem; }
        .supportContainer ul li p {
          display: block; }
  .descriptionContainer {
    width: 100%;
    height: auto; } }

@media (max-width: 670px) {
  .supportContainer {
    height: auto; }
    .supportContainer h1 {
      font-size: 5rem; }
    .supportContainer ul {
      flex-direction: column; }
      .supportContainer ul li:hover {
        transform: none; }
      .supportContainer ul li {
        width: 100%; }
        .supportContainer ul li i {
          padding: 1rem; }
        .supportContainer ul li p {
          display: block; }
  .descriptionContainer {
    width: 100%;
    height: auto;
    flex-direction: column; }
    .descriptionContainer .titleAndClose {
      font-size: 2rem;
      text-align: center; } }

.section {
  display: flex;
  justify-content: center; }

.section-user {
  width: 80%;
  margin-top: 5rem;
  border: solid black;
  border-radius: 5px;
  background-color: #060b26; }

.data-user {
  display: flex; }
  .data-user .icon {
    font-size: 10rem;
    justify-content: center;
    width: 100%;
    display: flex;
    color: white;
    padding: 1rem; }
    .data-user .icon i {
      display: flex; }

.description-user {
  display: flex;
  justify-content: center;
  padding: 1rem; }
  .description-user ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    color: white; }
    .description-user ul li:hover {
      border-bottom: solid white;
      transition: linear ease-in-out  1s; }

.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem; }
  .cart .cart-items {
    color: white;
    display: flex;
    justify-content: center; }
  .cart i {
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem; }

.cart-sugerence {
  display: flex;
  flex-direction: column; }
  .cart-sugerence p {
    text-align: center;
    color: white; }
  .cart-sugerence .sugerence-data {
    display: flex;
    justify-content: center;
    background-color: #060b26; }
    .cart-sugerence .sugerence-data ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      list-style: none;
      padding: 1rem; }
      .cart-sugerence .sugerence-data ul li {
        padding: 1rem;
        border: solid black;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: white; }
        .cart-sugerence .sugerence-data ul li p {
          color: black; }
        .cart-sugerence .sugerence-data ul li button {
          width: 50%;
          height: 2rem;
          border-radius: 5px;
          margin: 1rem; }
        .cart-sugerence .sugerence-data ul li .deleteCart {
          background-color: red;
          border: none; }
        .cart-sugerence .sugerence-data ul li .addCart {
          background-color: white;
          color: black;
          border: solid;
          border-radius: 5px; }
        .cart-sugerence .sugerence-data ul li .inCart {
          background-color: green;
          color: white;
          border: none;
          border-radius: 5px; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #060b26;
  justify-content: center; }

.explication {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around; }

.title {
  display: flex;
  flex-direction: row; }

.slogan {
  display: flex;
  width: 100%;
  justify-content: center;
  letter-spacing: 1rem; }

.homeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 100%; }

.explication h1 {
  font-size: 15rem; }

.explication i {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3rem; }

.homeButtons h3 {
  margin-left: 3rem; }

.homeButtons h3:first-child {
  background-color: white;
  color: #060b26; }

.homeButtons h3:last-child {
  border: solid white 2px;
  color: white; }

.homeButtons h3 {
  padding: 1rem;
  border-radius: 15px; }

h3:hover {
  transform: translateY(-0.5rem); }

.formHome {
  display: flex;
  justify-content: center;
  width: 100%; }

.formHome form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  background-color: #060b26;
  border: solid white; }

#formSignUp {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%; }

.inputForm input {
  padding: 1rem;
  border: none;
  border: solid #060b26 1px;
  color: #060b26;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100%; }

.inputForm label {
  color: white;
  font-size: 1rem; }

.inputForm label, .inputForm input {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.buttonForm {
  text-align: center;
  flex: 1 1 auto; }

.buttonForm button {
  width: 100%;
  background-color: #060b26;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: solid white 2px;
  border-radius: 5px;
  margin-top: 1rem; }

.buttonForm button:last-child {
  background-color: #612dda; }

.formClose {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem; }

@media (max-width: 1400px) {
  .title h1 {
    display: none; }
  .slogan {
    display: none; }
  .title i {
    font-size: 20rem;
    display: flex;
    width: 100%;
    justify-content: center; }
  .formHome form {
    width: 60%; } }

@media (max-width: 530px) {
  .title h1 {
    display: none; }
  .slogan {
    display: none; }
  .title i {
    font-size: 20rem;
    display: flex;
    width: 100%;
    justify-content: center; }
  .homeButtons {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .homeButtons h3 {
      margin-left: 0;
      text-align: center;
      margin: 1rem; }
  .formHome form {
    width: 100%; } }

@media (max-width: 1100px) {
  .formHome form {
    width: 80%; } }

.products {
  width: 100%;
  text-align: center;
  display: block; }
  .products__search--form {
    width: 80%;
    display: inline-block;
    padding: 1rem; }
  .products__search--item-input, .products__search--item-iconBox {
    display: inline-block; }
  .products__search--item-input {
    width: 80%;
    height: 3.5vw;
    font-size: 1.5rem;
    padding: 1.5vw;
    border-color: #060b26;
    color: grey;
    border-top-left-radius: 10px; }
  .products__search--item-input:focus {
    outline: none; }
  .products__search--item-iconBox {
    vertical-align: middle;
    height: 3.55vw;
    font-size: 1.9vw;
    padding: .2vw 2.5vw 0 2.5vw;
    margin-top: .6vw;
    background-color: #060b26;
    cursor: pointer;
    -webkit-transform: translate(-0.3vw, -0.1vw);
    transform: translate(-0.3vw, -0.18vw);
    border-top-right-radius: 10px;
    border: 1px solid #060b26; }
  .products__search--item-icon {
    vertical-align: middle;
    color: white; }
  .products__list {
    display: inline-block;
    margin: 5vw 4vw 10vw 0;
    padding-bottom: 1vw;
    vertical-align: top; }
    .products__list--marca {
      text-align: center;
      padding: 2vw;
      width: 100%;
      box-shadow: 1px 2px 2px black;
      transition: all .3s;
      border-radius: 5px;
      border: 3px solid #060b26;
      width: 11vw; }
      .products__list--marca:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 10px 1px black;
        border: 5px solid #060b26; }
      .products__list--marca-logo {
        width: 6vw; }
      .products__list--marca-title {
        display: block;
        font-size: 1rem;
        margin: 0; }

#products {
  display: none; }

.reportsContainer p {
  width: 90%; }

.reports {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #060b26; }

.reportContainer {
  width: 18rem;
  height: 60%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem; }

.reportContainer h1 {
  font-size: 2rem;
  color: #060b26;
  text-align: center; }

.reportContainer li {
  list-style: none;
  font-size: 5rem; }

.reportContainer p {
  font-size: 1.5rem;
  color: #060b26;
  text-align: center; }

.messages {
  background-color: #060b26;
  color: white;
  border: solid white;
  display: flex;
  flex-direction: row;
  align-items: center; }

.messagesInputs {
  width: 20%;
  height: 60%;
  display: flex; }

.chatContainer {
  width: 100%;
  height: 50%; }

.messagesInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.messagesInputs input {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px; }

.chat {
  color: black;
  width: 100%;
  display: flex;
  height: 100%; }

.chat ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white; }

.chat ul li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.5rem; }

.chatButtons {
  display: flex;
  flex-direction: row;
  height: 3rem; }

.chatButtons input:first-child {
  width: 100%;
  padding: 1rem; }

.chatButtons button {
  width: 25%;
  border: none;
  border: solid black 1px;
  outline: none; }
