.products {
  width: 100%;
  text-align: center;
  display: block; }
  .products__search--form {
    width: 80%;
    display: inline-block;
    padding: 1rem; }
  .products__search--item-input, .products__search--item-iconBox {
    display: inline-block; }
  .products__search--item-input {
    width: 80%;
    height: 3.5vw;
    font-size: 1.5rem;
    padding: 1.5vw;
    border-color: #060b26;
    color: grey;
    border-top-left-radius: 10px; }
  .products__search--item-input:focus {
    outline: none; }
  .products__search--item-iconBox {
    vertical-align: middle;
    height: 3.55vw;
    font-size: 1.9vw;
    padding: .2vw 2.5vw 0 2.5vw;
    margin-top: .6vw;
    background-color: #060b26;
    cursor: pointer;
    -webkit-transform: translate(-0.3vw, -0.1vw);
    transform: translate(-0.3vw, -0.18vw);
    border-top-right-radius: 10px;
    border: 1px solid #060b26; }
  .products__search--item-icon {
    vertical-align: middle;
    color: white; }
  .products__list {
    display: inline-block;
    margin: 5vw 4vw 10vw 0;
    padding-bottom: 1vw;
    vertical-align: top; }
    .products__list--marca {
      text-align: center;
      padding: 2vw;
      width: 100%;
      box-shadow: 1px 2px 2px black;
      transition: all .3s;
      border-radius: 5px;
      border: 3px solid #060b26;
      width: 11vw; }
      .products__list--marca:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 10px 1px black;
        border: 5px solid #060b26; }
      .products__list--marca-logo {
        width: 6vw; }
      .products__list--marca-title {
        display: block;
        font-size: 1rem;
        margin: 0; }

#products {
  display: none; }
