.profile {
  text-align: center;
  display: block;
  background-color: #121224; }

.user-img, .user-data {
  display: inline-block; }

.user-img {
  font-size: 18rem;
  border: solid white 4px;
  padding: 1rem;
  border-radius: 15%;
  text-align: left;
  background-color: #121224; }

#user-imgIcon {
  color: white; }

.user-data {
  text-align: left;
  color: white; }

.user-data h1 {
  padding: 1rem;
  margin: 1rem; }

.help-icons {
  display: inline-block;
  font-size: 5rem;
  padding: 2rem; }

.help-icons:hover {
  background-color: white;
  color: white;
  border-radius: 15%; }

.profile_user, .profile_help {
  margin-top: 2rem;
  width: 80%;
  display: inline-block; }

.profile_help {
  display: inline-block; }

.profile_help ul {
  border: solid white 4px;
  border-radius: 15px; }

.profile_help li {
  display: inline-block;
  margin-left: 5rem;
  vertical-align: middle;
  color: white; }

.profile_helpBox {
  width: 100%;
  border: solid black 4px;
  background-color: white;
  border-radius: 15px;
  height: 20rem;
  margin-top: 1rem; }
