.supportContainer {
  width: 100%;
  border: solid black 1px;
  text-align: center;
  background-color: #060b26; }

.supportContainer li {
  border: solid white 3px;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  color: white;
  background-color: #060b26;
  height: 24rem;
  width: 17rem;
  vertical-align: middle; }

.supportContainer li:hover {
  transform: translateY(-3rem); }

.supportContainer p {
  font-size: 2rem;
  margin-top: 3rem; }

.supportContainer h1 {
  color: white;
  font-size: 9rem;
  margin-top: 4rem; }

.supportIcon {
  font-size: 8rem;
  margin-top: 1rem; }

.supportItems {
  margin-top: 10rem; }
